<div>
    <mat-form-field>
      <input [(ngModel)] = "email" name="name" matInput placeholder="Email" >
      <mat-hint>Please enter your email</mat-hint>
      <p class = "error" *ngIf = "error.code =='auth/user-not-found'">{{error.message}}</p>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input [(ngModel)] = "password"  name="name" matInput placeholder="Password" >
        <mat-hint>Please enter your password</mat-hint>
        <p class = "error" *ngIf = "error.code =='auth/wrong-password'">{{error.message}}</p>
      </mat-form-field>
      </div>
      <div>
      <button mat-raised-button  (click)="login()">Login</button>
      </div>