
<mat-card>
  <mat-card-content>
      <a *ngIf= "!(authService.user | async)" routerLink="/login">Login</a>-
<button *ngIf= "authService.user | async" (click)="logout()">Logout</button>
<a routerLink ="/items">
    Items
</a>-

</mat-card-content>
</mat-card>
